# simple configuration file
#
# default settings
default {
    DATE_PREFIX=$(date -I)
    EXT_FULL="full"
    EXT_DIFF="diff"
    SSHFS_OPTS="-C"
    DAR_OPTS="-v -m 256 -y -s 600M -D"
    DAR_NOCOMPR="-Z '*.gz' -Z '*.bz2' -Z '*.zip' -Z '*.png'"
}

# backup target system
system {
    SRC_DIR="/"
    DEST_DIR="/mnt/data/backups/tatooine"
    PREFIX="system"
    TYPE="R"
    HOST="chi$@coruscant"
}

# backup target home
home {
    SRC_DIR="/home/user"
    DEST_DIR="/mnt/data/backups/tatooine"
    PREFIX="home-nomedia"
    TYPE="R"
    HOST="chi$@coruscant"
    DAR_EXCLUDES="media"
}